* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins";
  width: 100%;
  background-color: #f1f1f9;
}

.container{
  height: 80vh;
  width: 83%;
  margin-left: auto;
  padding: 3rem;
}